__pycache__/
*.py[cod]
*.pyo
*.pyd

ui_gen/
/dist/
/build/
/poetry.lock
/counter-app.spec
/src/counter_app/_version.py

/draft/
/.idea/
.vscode/
/src/web_viewer/package-lock.json
web_view_gen/
/src/web_viewer/node_modules/
/src/web_viewer/web_dist/
/.run/
